<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.project.system.mapper.DeviceMapper">

    <resultMap type="Device" id="DeviceResult">
        <result property="id" column="id"/>
        <result property="wwId" column="ww_id"/>
        <result property="mobile" column="mobile"/>
        <result property="password" column="password"/>
        <result property="status" column="status"/>
        <result property="loginIp" column="login_ip"/>
        <result property="loginTime" column="login_time"/>
        <result property="version" column="version"/>
        <result property="imei" column="imei"/>
        <result property="iccid" column="iccid"/>
        <result property="meid" column="meid"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="remark" column="remark"/>
        <result property="wwAccount" column="ww_account"/>
    </resultMap>

    <sql id="selectDeviceVo">
        select dv.id, dv.ww_id, dv.mobile, dv.password, dv.status, dv.login_ip, dv.login_time, dv.version, dv.imei, dv.iccid
             , dv.meid, dv.create_by, dv.create_time, dv.update_time, dv.update_by, dv.remark, ww.ww_account
        from device dv
        left join wangwang ww on ww.id = dv.ww_id
    </sql>

    <select id="selectDeviceList" parameterType="Device" resultMap="DeviceResult">
        <include refid="selectDeviceVo"/>
        <where>
            <if test="mobile != null  and mobile != ''">
                and dv.mobile = #{mobile}
            </if>
            <if test="status != null ">
                and dv.status = #{status}
            </if>
        </where>
    </select>

    <select id="selectDeviceById" parameterType="Long" resultMap="DeviceResult">
        <include refid="selectDeviceVo"/>
        where dv.id = #{id}
    </select>

    <select id="selectDeviceByMobile" parameterType="String" resultMap="DeviceResult">
        <include refid="selectDeviceVo"/>
        where dv.mobile = #{mobile};
    </select>

    <select id="selectDeviceRand" resultMap="DeviceResult">
        <include refid="selectDeviceVo"/>
        where dv.status = 1
        order by rand() limit 1
    </select>

    <insert id="insertDevice" parameterType="Device" useGeneratedKeys="true"
            keyProperty="id">
        insert into device
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mobile != null  and mobile != ''">mobile,
            </if>
            <if test="password != null  and password != ''">password,
            </if>
            <if test="remark != null  and remark != ''">remark,
            </if>
            <if test="imei != null  and imei != ''">imei,
            </if>
            <if test="iccid != null  and iccid != ''">iccid,
            </if>
            <if test="meid != null  and meid != ''">meid,
            </if>
            <if test="createTime != null ">create_time,
            </if>
            <if test="createBy != null  and createBy != ''">create_by,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mobile != null  and mobile != ''">#{mobile},
            </if>
            <if test="password != null  and password != ''">#{password},
            </if>
            <if test="remark != null  and remark != ''">#{remark},
            </if>
            <if test="imei != null  and imei != ''">#{imei},
            </if>
            <if test="iccid != null  and iccid != ''">#{iccid},
            </if>
            <if test="meid != null  and meid != ''">#{meid},
            </if>
            <if test="createTime != null ">#{createTime},
            </if>
            <if test="createBy != null  and createBy != ''">#{createBy},
            </if>
        </trim>
    </insert>

    <update id="updateDevice" parameterType="Device">
        update device
        <trim prefix="SET" suffixOverrides=",">
            <if test="wwId != null">ww_id = #{wwId},
            </if>
            <if test="mobile != null  and mobile != ''">mobile = #{mobile},
            </if>
            <if test="password != null  and password != ''">password = #{password},
            </if>
            <if test="status != null ">status = #{status},
            </if>
            <if test="loginIp != null  and loginIp != ''">login_ip = #{loginIp},
            </if>
            <if test="loginTime != null">login_time = #{loginTime},
            </if>
            <if test="version != null">version = #{version},
            </if>
            <if test="imei != null and imei != ''">imei = #{imei},
            </if>
            <if test="iccid != null and iccid != ''">iccid = #{iccid},
            </if>
            <if test="meid != null and meid != ''">meid = #{meid},
            </if>
            <if test="updateTime != null ">update_time = #{updateTime},
            </if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDeviceById" parameterType="Long">
        delete from device where id = #{id}
    </delete>

    <select id="deviceAuth" parameterType="com.backend.project.system.domain.openApiVo.AuthVo" resultMap="DeviceResult">
        <include refid="selectDeviceVo"/>
        where dv.mobile = #{mobile} and dv.password = #{password}
    </select>

    <update id="updateDeviceStatus">
        update device set status = #{status} where id = #{deviceId}
    </update>

    <update id="bindWw" parameterType="Device">
        update device
        <trim prefix="SET" suffixOverrides=",">
            <if test="wwId != null">ww_id = #{wwId},
            </if>
            <if test="updateTime != null ">update_time = #{updateTime},
            </if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},
            </if>
        </trim>
        where id = #{id}
    </update>

</mapper>
