<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.project.system.mapper.FbLeagueDataMapper">

    <resultMap type="FbLeagueData" id="FbLeagueDataResult">
        <result property="id" column="id"/>
        <result property="regionName" column="region_name"/>
        <result property="regionSortName" column="region_sort_name"/>
        <result property="leagueName" column="league_name"/>
        <result property="leagueSortName" column="league_sort_name"/>
        <result property="leagueId" column="league_id"/>
        <result property="ecid" column="ecid"/>
        <result property="ecTime" column="ec_time"/>
        <result property="ecTimestamp" column="ec_timestamp"/>
        <result property="teamH" column="team_h"/>
        <result property="teamHId" column="team_h_id"/>
        <result property="teamC" column="team_c"/>
        <result property="teamCId" column="team_c_id"/>
    </resultMap>

    <sql id="selectHgApiVo">
        select id, region_name, region_sort_name, league_name, league_sort_name, league_id, ecid, ec_time, ec_timestamp, team_h, team_h_id, team_c, team_c_id
        from fb_league_data
    </sql>

    <insert id="insertData" parameterType="FbLeagueData" useGeneratedKeys="true" keyProperty="id">
        insert into fb_league_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="regionName != null  and regionName != ''">region_name,
            </if>
            <if test="regionSortName != null  and regionSortName != ''">region_sort_name,
            </if>
            <if test="leagueName != null  and leagueName != ''">league_name,
            </if>
            <if test="leagueSortName != null  and leagueSortName != ''">league_sort_name,
            </if>
            <if test="leagueId != null  and leagueId != ''">league_id,
            </if>
            <if test="ecid != null  and ecid != ''">ecid,
            </if>
            <if test="ecTime != null  and ecTime != ''">ec_time,
            </if>
            <if test="ecTimestamp != null  and ecTimestamp != ''">ec_timestamp,
            </if>
            <if test="teamH != null  and teamH != ''">team_h,
            </if>
            <if test="teamHId != null  and teamHId != ''">team_h_id,
            </if>
            <if test="teamC != null  and teamC != ''">team_c,
            </if>
            <if test="teamCId != null  and teamCId != ''">team_c_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="regionName != null  and regionName != ''">#{regionName},
            </if>
            <if test="regionSortName != null  and regionSortName != ''">#{regionSortName},
            </if>
            <if test="leagueName != null  and leagueName != ''">#{leagueName},
            </if>
            <if test="leagueSortName != null  and leagueSortName != ''">#{leagueSortName},
            </if>
            <if test="leagueId != null  and leagueId != ''">#{leagueId},
            </if>
            <if test="ecid != null  and ecid != ''">#{ecid},
            </if>
            <if test="ecTime != null  and ecTime != ''">#{ecTime},
            </if>
            <if test="ecTimeStamp != null  and ecTimeStamp != ''">#{ecTimeStamp},
            </if>
            <if test="teamH != null  and teamH != ''">#{teamH},
            </if>
            <if test="teamHId != null  and teamHId != ''">#{teamHId},
            </if>
            <if test="teamC != null  and teamC != ''">#{teamC},
            </if>
            <if test="teamCId != null  and teamCId != ''">#{teamCId},
            </if>
        </trim>
    </insert>

</mapper>
