<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.project.system.mapper.LotteryDataMapper">

    <resultMap type="LotteryData" id="LotteryDataResult">
        <result property="id" column="id"/>
        <result property="preDrawIssue" column="pre_draw_issue"/>
        <result property="preDrawTime" column="pre_draw_time"/>
        <result property="preDrawCode" column="pre_draw_code"/>
        <result property="sumNum" column="sum_num"/>
        <result property="sumSingleDouble" column="sum_single_double"/>
        <result property="sumBigSmall" column="sum_big_small"/>
        <result property="dragonTiger" column="dragon_tiger"/>
        <result property="firstBigSmall" column="first_big_small"/>
        <result property="firstSingleDouble" column="first_single_double"/>
        <result property="secondBigSmall" column="second_big_small"/>
        <result property="secondSingleDouble" column="second_single_double"/>
        <result property="thirdBigSmall" column="third_big_small"/>
        <result property="thirdSingleDouble" column="third_single_double"/>
        <result property="fourthBigSmall" column="fourth_big_small"/>
        <result property="fourthSingleDouble" column="fourth_single_double"/>
        <result property="fifthBigSmall" column="fifth_big_small"/>
        <result property="fifthSingleDouble" column="fifth_single_double"/>
        <result property="behindThree" column="behind_three"/>
        <result property="betweenThree" column="between_three"/>
        <result property="lastThree" column="last_three"/>
        <result property="groupCode" column="group_code"/>
    </resultMap>

    <sql id="selectLotteryDataVo">
        select id, pre_draw_issue, pre_draw_time, pre_draw_code, sum_num, sum_single_double, sum_big_small
             , dragon_tiger, first_big_small, first_single_double, second_big_small, second_single_double, third_big_small
             , third_single_double, fourth_big_small, fourth_single_double, fifth_big_small, fifth_single_double, behind_three
             , between_three, last_three, group_code
        from lottery_data
    </sql>

    <select id="selectLotteryDataList" parameterType="LotteryData" resultMap="LotteryDataResult">
        <include refid="selectLotteryDataVo"/>
        <where>
            <if test="preDrawIssue != null  and preDrawIssue != ''">
                and pre_draw_issue = #{preDrawIssue}
            </if>
            <if test="preDrawTime != null  and preDrawTime != ''">
                and pre_draw_time = #{preDrawTime}
            </if>
        </where>
    </select>

    <select id="selectLotteryDataListByTime" parameterType="LotteryData" resultMap="LotteryDataResult">
        <include refid="selectLotteryDataVo"/>
        <where>
            <if test="startTime != null  and startTime != ''">
                and pre_draw_time >= #{startTime}
            </if>
            <if test="endTime != null  and endTime != ''">
                and pre_draw_time &lt;= #{endTime}
            </if>
        </where>
    </select>

    <select id="selectListByPreDrawIssue" parameterType="int" resultMap="LotteryDataResult">
        <include refid="selectLotteryDataVo"/>
        order by pre_draw_issue desc
        limit #{limit}
    </select>

    <select id="selectLotteryDataById" parameterType="Long" resultMap="LotteryDataResult">
        <include refid="selectLotteryDataVo"/>
        where id = #{id}
    </select>

    <select id="selectLotteryDataByPreDrawIssue" parameterType="int" resultMap="LotteryDataResult">
        <include refid="selectLotteryDataVo"/>
        where pre_draw_issue = #{preDrawIssue}
    </select>

    <insert id="insertLotteryData" parameterType="LotteryData" useGeneratedKeys="true" keyProperty="id">
        insert into lottery_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="preDrawIssue != null">pre_draw_issue,
            </if>
            <if test="preDrawTime != null  and preDrawTime != ''">pre_draw_time,
            </if>
            <if test="preDrawCode != null  and preDrawCode != ''">pre_draw_code,
            </if>
            <if test="sumNum != null">sum_num,
            </if>
            <if test="sumSingleDouble != null">sum_single_double,
            </if>
            <if test="sumBigSmall != null">sum_big_small,
            </if>
            <if test="dragonTiger != null">dragon_tiger,
            </if>
            <if test="firstBigSmall != null">first_big_small,
            </if>
            <if test="firstSingleDouble != null">first_single_double,
            </if>
            <if test="secondBigSmall != null">second_big_small,
            </if>
            <if test="secondSingleDouble != null">second_single_double,
            </if>
            <if test="thirdBigSmall != null">third_big_small,
            </if>
            <if test="thirdSingleDouble != null">third_single_double,
            </if>
            <if test="fourthBigSmall != null">fourth_big_small,
            </if>
            <if test="fourthSingleDouble != null">fourth_single_double,
            </if>
            <if test="fifthBigSmall != null">fifth_big_small,
            </if>
            <if test="fifthSingleDouble != null">fifth_single_double,
            </if>
            <if test="behindThree != null">behind_three,
            </if>
            <if test="betweenThree != null">between_three,
            </if>
            <if test="lastThree != null">last_three,
            </if>
            <if test="groupCode != null">group_code,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="preDrawIssue != null">#{preDrawIssue},
            </if>
            <if test="preDrawTime != null  and preDrawTime != ''">#{preDrawTime},
            </if>
            <if test="preDrawCode != null  and preDrawCode != ''">#{preDrawCode},
            </if>
            <if test="sumNum != null">#{sumNum},
            </if>
            <if test="sumSingleDouble != null">#{sumSingleDouble},
            </if>
            <if test="sumBigSmall != null">#{sumBigSmall},
            </if>
            <if test="dragonTiger != null">#{dragonTiger},
            </if>
            <if test="firstBigSmall != null">#{firstBigSmall},
            </if>
            <if test="firstSingleDouble != null">#{firstSingleDouble},
            </if>
            <if test="secondBigSmall != null">#{secondBigSmall},
            </if>
            <if test="secondSingleDouble != null">#{secondSingleDouble},
            </if>
            <if test="thirdBigSmall != null">#{thirdBigSmall},
            </if>
            <if test="thirdSingleDouble != null">#{thirdSingleDouble},
            </if>
            <if test="fourthBigSmall != null">#{fourthBigSmall},
            </if>
            <if test="fourthSingleDouble != null">#{fourthSingleDouble},
            </if>
            <if test="fifthBigSmall != null">#{fifthBigSmall},
            </if>
            <if test="fifthSingleDouble != null">#{fifthSingleDouble},
            </if>
            <if test="behindThree != null">#{behindThree},
            </if>
            <if test="betweenThree != null">#{betweenThree},
            </if>
            <if test="lastThree != null">#{lastThree},
            </if>
            <if test="groupCode != null">#{groupCode},
            </if>
        </trim>
    </insert>

</mapper>
