<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.project.system.mapper.NotifyMsgMapper">

    <resultMap type="NotifyMsg" id="NotifyMsgResult">
        <result property="id" column="id"/>
        <result property="msgType" column="msg_type"/>
        <result property="notifyTime" column="notify_time"/>
        <result property="betId" column="bet_id"/>
    </resultMap>
    <insert id="insertNotifyMsg">
        insert into notify_msg (msg_type,notify_time,bet_id) values (#{msgType},#{notifyTime},#{betId});
    </insert>
    <select id="findMsgByCondition" resultMap="NotifyMsgResult">
        SELECT max(id), msg_type,notify_time,bet_id from notify_msg WHERE msg_type =#{type} and bet_id =#{betId}
    </select>


</mapper>
