<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.project.system.mapper.SPMatchInfoMapper">

    <resultMap type="SPMatchInfo" id="SPMatchInfoResult">
        <result property="id" column="id"/>
        <result property="matchNum" column="match_num"/>
        <result property="matchDate" column="match_date"/>
        <result property="matchTime" column="match_time"/>
        <result property="leagueAbbName" column="league_abb_name"/>
        <result property="homeTeamAbbName" column="home_team_abb_name"/>
        <result property="awaTeamAbbName" column="awa_team_abb_name"/>
        <result property="win" column="win"/>
        <result property="draw" column="draw"/>
        <result property="lose" column="lose"/>
        <result property="handicap" column="handicap"/>
        <result property="handicapWin" column="handicap_win"/>
        <result property="handicapDraw" column="handicap_draw"/>
        <result property="handicapLose" column="handicap_lose"/>
        <result property="s0" column="s0"/>
        <result property="s1" column="s1"/>
        <result property="s2" column="s2"/>
        <result property="s3" column="s3"/>
        <result property="s4" column="s4"/>
        <result property="s5" column="s5"/>
        <result property="s6" column="s6"/>
        <result property="s7" column="s7"/>
    </resultMap>

    <sql id="selectSPMatchInfo">
        select handicap from sp_match_info
    </sql>

    <select id="selectCondition" parameterType="string" resultMap="SPMatchInfoResult">
        select id, handicap from sp_match_info
        where league_abb_name = #{leagueName} and home_team_abb_name = #{homeTeam} and awa_team_abb_name = #{awayTeam}
    </select>

    <select id="selectById" parameterType="long" resultMap="SPMatchInfoResult">
        SELECT * from sp_match_info WHERE id = #{id}
    </select>

    <select id="getTodayLeague" parameterType="string" resultType="string">
        select league_abb_name from sp_match_info where exact_date = #{date} and is_obsolete = 0
    </select>

    <select id="getTodayHomeTeam" parameterType="string" resultType="string">
        select home_team_abb_name from sp_match_info where exact_date = #{date} and is_obsolete = 0
    </select>

    <select id="getTodayAwayTeam" parameterType="string" resultType="string">
        select awa_team_abb_name from sp_match_info where exact_date = #{date} and is_obsolete = 0
    </select>

    <select id="getEarlyLeague" parameterType="string" resultType="string">
        select league_abb_name from sp_match_info where exact_date > #{date} and is_obsolete = 0
    </select>

    <select id="getEarlyHomeTeam" parameterType="string" resultType="string">
        select home_team_abb_name from sp_match_info where exact_date > #{date} and is_obsolete = 0
    </select>

    <select id="getEarlyAwayTeam" parameterType="string" resultType="string">
        select awa_team_abb_name from sp_match_info where exact_date > #{date} and is_obsolete = 0
    </select>
    <select id="findSPMatchInfo" resultMap="SPMatchInfoResult">
        SELECT * from sp_match_info WHERE match_num = #{matchNum} and match_date = #{matchDate}
    </select>

    <select id="findSPObsoleteNot" resultMap="SPMatchInfoResult">
        SELECT * from sp_match_info WHERE is_obsolete = 0
    </select>

    <insert id="insertSPMatchInfos">
        insert into sp_match_info(
             match_num,
             league_abb_name,
             match_date,
             match_time,
             home_team_abb_name,
             awa_team_abb_name,
             win,
             draw,
             lose,
             handicap,
             handicap_win,
             handicap_draw,
             handicap_lose,
             s0,
             s1,
             s2,
             s3,
             s4,
             s5,
             s6,
             s7,
            create_time,
            exact_date
             )
            values
        <foreach item="list" index="index" collection="list" separator=",">
            (#{list.matchNum},
            #{list.leagueAbbName},
            #{list.matchDate},
            #{list.matchTime},
            #{list.homeTeamAbbName},
            #{list.awaTeamAbbName},
            #{list.win},
            #{list.draw},
            #{list.lose},
            #{list.handicap},
            #{list.handicapWin},
            #{list.handicapDraw},
            #{list.handicapLose},
            #{list.s0},
            #{list.s1},
            #{list.s2},
            #{list.s3},
            #{list.s4},
            #{list.s5},
            #{list.s6},
            #{list.s7},
            #{list.createTime},
            #{list.exactDate})
        </foreach>
    </insert>
    <insert id="insertSPMatchInfo">
        insert into sp_match_info(
        match_num,
        league_abb_name,
        match_date,
        match_time,
        home_team_abb_name,
        awa_team_abb_name,
        win,
        draw,
        lose,
        handicap,
        handicap_win,
        handicap_draw,
        handicap_lose,
        s0,
        s1,
        s2,
        s3,
        s4,
        s5,
        s6,
        s7,
        create_time,
        exact_date)
        values
            (
            #{matchNum},
            #{leagueAbbName},
            #{matchDate},
            #{matchTime},
            #{homeTeamAbbName},
            #{awaTeamAbbName},
            #{win},
            #{draw},
            #{lose},
            #{handicap},
            #{handicapWin},
            #{handicapDraw},
            #{handicapLose},
            #{s0},
            #{s1},
            #{s2},
            #{s3},
            #{s4},
            #{s5},
            #{s6},
            #{s7},
            #{createTime},
            #{exactDate})
    </insert>

    <delete id="deleteMatchInfo">
        delete from sp_match_info where id > 0
    </delete>


    <delete id="deleteBKMatchInfo">
        delete from sp_bk_match_info where id > 0
    </delete>
    <insert id="insertSPBKMatchInfos">
        insert into sp_bk_match_info(
        match_num,
        match_date,
        match_time,
        home_team_abb_name,
        away_team_abb_name,
        win,
        lose,
        handicap,
        handicap_win,
        handicap_lose,
        score,
        high,
        low,
        create_time
        )
        values
        <foreach item="list" index="index" collection="list" separator=",">
            (
            #{list.matchNum},
            #{list.matchDate},
            #{list.matchTime},
            #{list.homeTeamAbbName},
            #{list.awayTeamAbbName},
            #{list.win},
            #{list.lose},
            #{list.handicap},
            #{list.handicapWin},
            #{list.handicapLose},
            #{list.score},
            #{list.high},
            #{list.low},
            #{list.createTime})
        </foreach>
    </insert>

    <update id="updateMatchInfo">
            update sp_match_info
            set
            win=#{win},
            draw=#{draw},
            lose=#{lose},
            handicap_win=#{handicapWin},
            handicap_draw=#{handicapDraw},
            handicap_lose=#{handicapLose},
            s0=	#{s0},
            s1=	#{s1},
            s2=	#{s2},
            s3=	#{s3},
            s4=	#{s4},
            s5=	#{s5},
            s6=	#{s6},
            s7=	#{s7}
            where match_num = #{matchNum} and match_date = #{matchDate}
    </update>
    <update id="cleanObsoleteData">
        update sp_match_info set is_obsolete = 1 where match_num > #{num} and match_num &lt; #{bigNum}
    </update>
</mapper>
