<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.project.system.mapper.TaskPreOrderMapper">

    <resultMap type="TaskPreOrder" id="TaskPreOrderResult">
        <result property="id" column="id"/>
        <result property="device" column="device"/>
        <result property="productLink" column="product_link"/>
        <result property="amount" column="amount"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="runTime" column="run_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectTaskPreOrderVo">
        select id, device, product_link, amount, status, create_time, run_time, remark
        from task_pre_order
    </sql>

    <select id="selectTaskPreOrderList" parameterType="TaskPreOrder" resultMap="TaskPreOrderResult">
        <include refid="selectTaskPreOrderVo"/>
        <where>
            <if test="device != null  and device != ''">
                and device = #{device}
            </if>
            <if test="status != null ">
                and status = #{status}
            </if>
        </where>
    </select>

    <select id="selectTaskPreOrderById" parameterType="Long" resultMap="TaskPreOrderResult">
        <include refid="selectTaskPreOrderVo"/>
        where id = #{id}
    </select>

    <select id="selectTaskPreOrderByDevice" parameterType="String" resultMap="TaskPreOrderResult">
        <include refid="selectTaskPreOrderVo"/>
        where device = #{mobile} and staus = 0
        order by id asc
        limit 1;
    </select>

    <insert id="insertTaskPreOrder" parameterType="TaskPreOrder" useGeneratedKeys="true"
            keyProperty="id">
        insert into task_pre_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="device != null  and device != ''">device,
            </if>
            <if test="productLink != null  and productLink != ''">product_link,
            </if>
            <if test="amount != null ">amount,
            </if>
            <if test="createTime != null ">create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="device != null  and device != ''">#{device},
            </if>
            <if test="productLink != null  and productLink != ''">#{productLink},
            </if>
            <if test="amount != null ">#{amount},
            </if>
            <if test="createTime != null ">#{createTime},
            </if>
        </trim>
    </insert>

    <update id="updateTaskPreOrder" parameterType="TaskPreOrder">
        update task_pre_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null ">status = #{status},
            </if>
            <if test="runTime != null">run_time = #{runTime},
            </if>
            <if test="remark != null  and remark != ''">remark = #{remark},
            </if>
        </trim>
        where id = #{id}
    </update>

</mapper>
